body{
    text-align: center;
    background: #fbfbfb;
}

.site{
    display: inline-block;
    margin: 30px 100px;
}

.main{
    display: inline-block;
    text-align: left;
}

.top-message-main{
    font-family: 'Noto Sans JP', sans-serif;
    color: red;
    font-size: 40px;
    border-bottom: 5px solid red;
    display: inline-block;
}

.top-message-description{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}

.top-message-sub{
    padding: 20px 0;
    border-top: 1px lightgray solid;
    border-bottom: 1px lightgray solid;
    color: #444;
    font-size: 25px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
}

.message-div{
    text-align: left;
}

.content-div{
    border-radius: 20px;
    margin: 25px;
    padding: 30px;
    width: 500px;
    box-shadow: lightgray 1px 0 10px;
}

.content-title{
    font-size: 30px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    margin: 0;
}

.hyperlink{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding-left: 0.25em;
    border-left: solid 7px #00a8f3;
    font-size: 35px;
    color: black;
    display: block;
    margin: 10px 0;
}

.game-image{
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.spn01{
    font-size:25px;
    color:#f04ce5;
}

.spn02{
    font-size:25px;
    color:#36da64;
}